div#map {
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 640px;
    height: 640px;
    
}

div#battle {
    display: none;
    width: 640px;
    height: 640px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}

div.wall {
    /* background-color: black; */
    background: url('assets/wall.png')
}

div.grid-item {
    border: 2px solid purple
}

img#maze {
    object-fit: fill;
    object-position: 0 0 ;

    width: 640px;
    height: 640px;
}

div#sprite-div {
    width: 64px;
    height: 64px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1
}

img#test-sprite {
    width: 64px;
    height: 64px;
    z-index: 1;
}

div#character-container {
    height: 64px;
    width: 64px;
    overflow: hidden;
    position: relative;
    top: 100px;
    right: -100px;
    z-index: 1;

}

.facing_right {
    transform: scaleX(-1)
}

.facing_left {
    transform: scaleX(1)
}


.enemy {
    width: 64px;
    height: 64px;
    background: url('assets/boss.png');
}

.treasure {
    width: 64px;
    height: 64px;
    background: url('assets/treasure.png');
    image-rendering: pixelated;
}
