div#map {
    position: relative;
}

img#maze {
    width: 100%;
    height: 100%;
}

div#character-container {
    height: 64px;
    width: 64px;
    overflow: hidden;
    position: relative;
    top: 100px;
    right: -100px;
    z-index: 1;

}

.facing_up{
    position: absolute;
    top: 0px;
}

.facing_left {
    position: absolute;
    top: -64px;
}

.facing_down {
    position: absolute;
    top: -128px;
}

.facing_right {
    position: absolute;
    top: -192px;
}

