* {
    font-size: 18px;;
}

main#main-game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Show world map and world command at default, hide on click */
#map.map-start {
    border: 5px solid black;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 640px;
    height: 600px;
    margin-left: 100px;
    margin-top: 50px;
}

#command.map-start {
    display: inline-block;
    height: 400px;
    width: 100px;
    margin-left: 50px;
}

/* Hide battle map and battle command at default, display on click */
#battle.battle-start {
    display: none;
    margin-left: 100px;
    margin-top: 50px;
    height: 600px;
    width: 640px;
    border: 5px solid black;
}

#battle-command.battle-start {
    display: none;
    height: 400px;
    width: 100px;
    margin-left: 50px;
}

/* Styling for the assets */
div.grid-item.wall {
    background: url('assets/new-wall.png')
}

div.grid-item {
    border: 1.5px solid darkslategrey;
    background: url('assets/floor-tile.png')
}

div#sprite-div {
    width: 64px;
    height: 64px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1
}

img#test-sprite {
    width: 64px;
    height: 64px;
    z-index: 1;
}

/* Styling for the player */
.facing_right {
    transform: scaleX(-1)
}

.facing_left {
    transform: scaleX(1)
}

/* Styling for the enemies */
div.enemy {
    width: 64px;
    height: 64px;
    background: url('assets/boss.png');
}

div#battle img {
    height: 600px;
    width: 640px;
}

/* Styling for the items */
div.treasure {
    width: 64px;
    height: 64px;
    background: url('assets/treasure.png');
    image-rendering: pixelated;
}

/* Styling for the log box */

div#log {
    height: 40px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 380px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid black;
}

/* Styling for the buttons */

div#world-buttons {
    margin-right: 100px;
}

div#battle-buttons {
    margin-right: 100px;
}

div#battle-command div#battle-buttons button, div#command div#world-buttons button {
    padding: 20px;
    margin: 5px;
    width: 150px;
    border-radius: 10px;
    background: transparent;
    border: 3px black solid;
}

/* Styling for the right side information pane */
/* Styling for player stat pane  */

.hidden {
    display: none;
}

div#info {
    height: 635px;
    width: 350px;
    border: 3px black solid;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}


div#player-stat {
    display: flex;
    flex-direction: row;
}

img#portrait {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

div#detail section {
    font-size: 25px;
    padding: 16px;
    margin-top: 20px;
}

section#attack-names {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

/* Styling for the item info pane  */

div#item-stat {
    font-size: 18px;
}

div#item-stat p, div#item-stat div{
    text-align: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#item-stat p {
    border: solid grey;
    background-color: lightgrey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

div#item-stat div:not(:last-child)  {
    border-bottom: 2px solid black
}


/* Styling for the audio pane */
div#audio-option p {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

div.radio-input {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div.radio-input button {
    padding: 10px;
    margin: 15px;
}

/* Styling for the images and texts for game over and game won screens */

img.gameover, img.gamewon {
    display: block;
    width: 500px;
    height: 500px;
    margin: 80px auto;
}

p.gameover, p.gamewon {
    font-size: 30px;
    text-align: center;
    margin: 80px;
    display: block;
}

/* Position and styling for enemy name */

div#battle-map-container {
    position: relative;
}

div#battle-map-container h2 {
    position: absolute;
    top: 0px;
    left: 20px;
    font-weight: bold;
    font-size: 25px;
}

